<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <remove name="LocalMySqlServer" />
    <add name="LocalMySqlServer" connectionString="password=z3r0ufx1;User Id=root;database=expensemanagerportaldb;server=localhost" providerName="MySql.Data.MySqlClient" />
    <add name="expensemanagerportaldbEntities" connectionString="metadata=res://*/CoreFramework.ExpenseManagerModel.csdl|res://*/CoreFramework.ExpenseManagerModel.ssdl|res://*/CoreFramework.ExpenseManagerModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=Z3r0ufx1;database=expensemanagerportaldb&quot;" providerName="System.Data.EntityClient" />
    <add name="ExpenseManagerDBEntities" connectionString="metadata=res://*/ExpenseManagerModel.csdl|res://*/ExpenseManagerModel.ssdl|res://*/ExpenseManagerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=ExpenseManagerDB;persist security info=True;user id=sa;password=Z3r0ufx1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>  
  <appSettings>
    <!--<add key="GridPageSize" value="15" />-->
    <!-- Link -->
    <add key="ErrorLogFile" value="~/LogReport/AppError/Logfile.txt" />
    <add key="NameValidationExpression" value="^[A-Za-z0-9\s][A-Za-z0-9\s]{2,40}$" />
    <add key="CurrencyValidationExpression" value="^\d+(\.\d\d)?$" />
    <add key="GSMValidationExpression" value="^0[7-9][0-4][1-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]$" />
    <add key="NameValidationExpression2" value="^[A-Za-z\s]{2,40}$" />
    <add key="NumberValidationExpression" value="^[1-9'.][0-9]{1,60}$" />
    <add key="NumberValidationExpression3" value="^[1-9][0-9]{0,60}$" />
    <add key="NumberValidationExpression2" value="^[1-9][0-9'.]{0,60}$" />
    <add key="NumberValidationExpression5" value="^[0-9][0-9'.]{0,60}$" />
    <add key="GSMValidationExpression2" value="^[0-9][0-9'.]{0,15}$" />
    <add key="NameValidationExpression4" value="^[A-Za-z0-9\s][A-Za-z0-9\s]{3,40}$" />
    <add key="FormattedNumberValidationExpression" value="^(\d|,)*\.?\d*$" />
    <add key="GSMNoHyphenValidationExpression" value="^0[7-9][0-4][2-9]\d{7}$" />
    <add key="AccountNumberValidationExpression" value="^[0-9]{12,18}$" />
    <add key="DateOfBirthValidationExpression" value="^[0-3]{1}[0-9]{1}/{1}[0-1]{1}[0-9]{1}/{1}[1-2]\d{3}$" />
    <add key="eMailValidationExpression" value="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" />
    <add key="GridPageSize" value="15" />
    <add key="ZerosLimit" value="4" />
    <!-- Link -->
    <add key="ErrorLogFile" value="~/LogReport/AppError/Logfile.txt" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
        <add assembly="MySql.Data.Entity, Version=6.6.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <profile defaultProvider="MySQLProfileProvider">
      <providers>
        <clear />
        <remove name="MySQLProfileProvider" />
        <add name="MySQLProfileProvider" type="MySql.Web.Profile.MySQLProfileProvider, MySql.Web, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" applicationName="/" description="kPortal Profiles" connectionStringName="LocalMySqlServer" writeExceptionsToEventLog="False" autogenerateschema="True" />
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="MySQLRoleProvider">
      <providers>
        <clear />
        <remove name="MySQLRoleProvider" />
        <add name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" applicationName="/" description="kPortal Framework Roles" connectionStringName="LocalMySqlServer" writeExceptionsToEventLog="False" autogenerateschema="True" />
      </providers>
    </roleManager>
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <clear />
        <remove name="MySQLMembershipProvider" />
        <add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" applicationName="/" description="kPortal Membership" connectionStringName="LocalMySqlServer" writeExceptionsToEventLog="True" autogenerateschema="True" enablePasswordRetrieval="False" enablePasswordReset="True" requiresQuestionAndAnswer="False" requiresUniqueEmail="True" passwordFormat="Hashed" maxInvalidPasswordAttempts="7" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" timeout="20" protection="All" loginUrl="~/Login.aspx" defaultUrl="~/CoreFramework/Home/MyProfile.aspx" slidingExpiration="true" path="/" />
    </authentication>
    <siteMap defaultProvider="MySqlSiteMapProvider" enabled="true">
      <providers>
        <add name="MySqlSiteMapProvider" type="ExpenseManager.CoreFramework.MySQLMapProvider" securityTrimmingEnabled="true" connectionStringName="LocalMySqlServer" />
      </providers>
    </siteMap>
    <pages controlRenderingCompatibilityVersion="3.5" enableEventValidation="false" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="&quot;xPlug Expense Manager&quot;&lt;xplug.expensemanager.app@gmail.com&gt;">
        <network host="smtp.gmail.com" defaultCredentials="false" enableSsl="true" port="587" userName ="xplug.expensemanager.app@gmail.com" password="xpngxmanplug5" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.7.607" newVersion="4.1.7.607" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="999999999"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider"
      invariant="MySql.Data.MySqlClient"
      description=".Net Framework Data Provider for MySQL"
      type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>

</configuration>